/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 8-Jun-2017, 3:35:17 PM
    Author     : Eduard QF
*/

#items,ul ul{
    margin:0px;
    padding:0px;
    list-style:none;
    background-color:#50B98F;
    
    border: 12px;
    border-spacing: 0px 0px;
}

body{
    background-color: #F0FFF0;

}
#bienvenida{
    text-align:  center;
    color: black;

}
.items{
    width: 140px;
    height: 100%;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}

.menu{
    width: 140px;
    height: 100%;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    -moz-box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,.73), 0px 0px 18px 0px rgba(0,0,0,.13);
}
.menu ul li p {
    background: #60CE81;
    width: 100%;
    height: 20px;
    display: block;
    position: relative;
    font-size: 0.920em;
    font-weight: 400;
    color: #372E30;
    text-decoration: inherit;
}
.menu ul li ul li{
    height:17px;
    border-bottom: 2px;
}
.menu ul li a{
    color: #000;
    text-decoration: inherit;
    border-image: url("icons/reporte.jpg")
}

title,version{
    text-align: center;
    
}