/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Jun-2017, 12:42:27 AM
    Author     : Eduard QF
*/

body{background-color: #D3FED3}

h1,h2{text-align: center;text-decoration: #50B98F;}

#volver,#newApoderado{ text-decoration:inherit;}

form{width:70%;height: 100%;  border:1px; align-items: center;text-align: center;background-color: #1C9263}

form table{width:99%; border: 3px;align-self: center ;background-color: #50B98F}

#Tableregistro{
    width: 33%;
    background-color: #FFFFFF;
}

title{
    background-color: #1C9263;
}

#digitoV{width: 15px }

#rut,#apoderado{width: 70%}

#nombre,#apellido{width:176px;}
#profesor,#tipo,#fecha{width: 100%;}

#detalle{height:180px;width: 100%; }

select,input[type=text]{
   width: 90%;  
}

#divcuerpo{
    column-count: 2
}
